# Ignored directories
**/node_modules/
**/.firebase/
**/__pycache__/
**/.cache
**/backups/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*
firebase-debug.*.log*

# Environment variables
.env

# Windows system files
Thumbs.db
desktop.ini
